---
---
/* load _sass/minima.scss */
 @import "{{ site.theme }}";
/* Put any custom CSS here */
body {
 font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
 font-weight: 300;
 color: #373710;
 }
 
.site-title {
   color: #E91E63 !important;
 }

